* {
    font-family: Roboto,arial,sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 14px 30px;
}

nav a {
    color: #737373;
    text-decoration: none;
    font-weight: normal;
}

.active {
    color: #282828 !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

button {
    background-color: #de4747;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 6px 15px 5px 15px;
    min-width: 80px;
}

.swidget {
    border: 1px solid #d8d8d8;
    background: #fff;
    padding: 11px;
    margin-bottom: 15px;
}

.swidget .head-div {
    height: 28px;
    vertical-align: middle;
    display: table-cell;
    cursor: default;
}

.swidget .head-div span {
    margin-right: 25px;
    color: #bbbbbb;
    font-weight: normal;
}

.propic-small{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.pad-rightTo-propic{
    padding: 5px 0 0 90px;
}

.propic-mid{
    border-radius: 50%;
    width: 94px;
    height: 94px;
}

table.accounts {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.accounts .desc {
    text-align: left;
}

table.accounts .date {
    width: 100px;
    text-align: right;
}

table.accounts .amt {
    width: 100px;
    text-align: right;
}

table.accounts .bal {
    width: 100px;
    text-align: right;
}

table.accounts th {
    color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ececec;
    border-left: none;
    border-right: none;
    padding: 8px 0 8px 0;
}

table.accounts td {
    color: #282828;
    font-size: 14px;
    border: 1px solid #ececec;
    border-left: none;
    border-right: none;
    padding: 8px 0 8px 0;
}