<div class="content-body">
    <!-- left col -->
    <div class="left-col-main">
        <!-- widget -->
        <div ng-include="'/widgets/products-widget.html'"></div>
        <!-- widget end -->
        <!-- widget -->
        <div ng-include="'/widgets/earnings-widget.html'"></div>
        <!-- widget end -->
    </div>
    <!-- left col end-->

    <!-- right col -->
    <div class="right-col-main">
        <!-- widget -->
        <div ng-include="'/widgets/topEarners-widget.html'"></div>
        <!-- widget end -->
        <!-- widget -->
        <div ng-include="'/widgets/wealth-widget.html'"></div>
        <!-- widget end -->
    </div>
    <!-- right col end -->
</div>