<div ng-controller="loginCtrl" id="loginparent">
    <div class="login">
        <div class="head">
            <img class="logo" src="/img/logo.png"/>
            <span class="text">KExchange</span>
        </div>

        <div class="btnPane">
            <img ng-if="!loginProgress" src="/img/login_with_facebook.png" ng-click="loginFB()" class="fbloginButt"/>
            <img ng-if="!loginProgress" src="/img/sign-in-with-google.png" ng-click="loginGoogle()" class="gglloginButt"/>

            <div ng-if="loginProgress" class="loader"></div>
        </div>
    </div>
</div>