<div ng-controller="loginCtrl" id="loginparent">
    <div class="login">
        <div class="head">
            <img class="logo" src="/img/logo.png"/>
            <span class="text">KExchange</span>
        </div>
        <input ng-model="user.username" type="text" placeholder="username"/>
        <input ng-model="user.password" type="password" placeholder="password"/>

        <div class="btnPane">
            <button ng-click="login()" class="btnbg-blue">Login</button>
        </div>
    </div>
</div>