<!-- cover -->
<div dir01 ng-include="'widgets/kExCover.html'">
</div>
<!-- cover end -->

<div class="content-body">
    <div class="left-col-main">
        <div ng-include="'widgets/account-widget.html'"></div>
    </div>
    <div class="right-col-main">
        <!-- deal widget -->
        <div kex-widget>
            <!-- investments tab -->
            <div kex-tab="Investments">
                <div ng-include="'widgets/deal-investments-tab.html'"></div>
            </div>
            <!-- investments tab end-->

            <!-- loan tab -->
            <div kex-tab="Money-Taken">
                <div ng-include="'widgets/deal-loan-tab.html'"></div>
            </div>
            <!-- loan tab end-->
            <!-- purchases tab -->
            <div kex-tab="Products">
                <div ng-include="'widgets/deal-purchases-tab.html'"></div>
            </div>
            <!-- purchases tab end -->
        </div>
        <!-- deal widget end -->
    </div>
</div>