<div class="content-body">
    <div class="left-col-main">
        <!-- widget -->
        <div ng-include="'widgets/products-widget.html'"></div>
        <!-- widget end -->
        <!-- widget -->
        <div ng-include="'widgets/newproduct-form.html'"></div>
        <!-- widget end -->
    </div>
    <div class="right-col-main">
        <!-- widget -->
        <div kex-widget>
            <!-- my bids -->
            <div kex-tab="My Bids">
                <div ng-include="'widgets/store-bids-tab.html'"></div>
            </div>
            <!-- my bids end -->
            <!-- purchases tab -->
            <div kex-tab="My Products">
                <div ng-include="'widgets/deal-products-tab.html'"></div>
            </div>
            <!-- purchases tab end -->
        </div>
        <!-- widget end -->
    </div>
</div>