<div class="content-body">
    <div class="left-col-main">
        <!-- widget -->
        <div kex-widget>
            <div kex-tab="KE Products">
                <div ng-controller="prdctsCtrlr">
                    <!-- no product -->
                    <div ng-if="products.length==0;" class="rowtyp01 listEmptyMsg L-R-margin0">
                        No products available
                    </div>
                    <!-- no product end -->

                    <ul ng-if="products.length!=0;" productscont style="margin: 0 -19px -6px 12px;">
                        <!-- product -->
                        <li ng-repeat="product in products" product="product" indx="$index" class="product"></li>
                        <!-- product end -->

                        <!-- product info -->
                        <li productinfo class="product-inf">
                        </li>
                        <!-- product info end -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- widget end -->
        <!-- widget -->
        <div ng-include="'/widgets/newproduct-form.html'"></div>
        <!-- widget end -->
    </div>
    <div class="right-col-main">
        <!-- widget -->
        <div kex-widget>
            <!-- my bids -->
            <div kex-tab="My Bids">
                <div ng-include="'/widgets/store-bids-tab.html'"></div>
            </div>
            <!-- my bids end -->
            <!-- purchases tab -->
            <div kex-tab="My Products">
                <div ng-include="'/widgets/deal-products-tab.html'"></div>
            </div>
            <!-- purchases tab end -->
        </div>
        <!-- widget end -->
    </div>
</div>