<div class="left-col-main">
    <!-- widget -->
    <div class="swidget">
            <div class="L-R-margin0">
                <style>
                    .input-lable {
                        font-size: 13px;
                        color: #737373;
                        margin-right: 5px;
                        min-width: 50px;
                        display: inline-block;
                    }

                    .input-row-gutter {
                        margin: 0 0 8px 0;
                    }
                </style>
                <div style="border-bottom: 1px solid #d8d8d8; margin-bottom: 11px;padding-bottom: 11px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 240px;">
                                <div class="input-row-gutter">
                                    <input placeholder="Product Name" type="text" style="width: 100%;"/>
                                </div>
                                <div class="input-row-gutter">
                                    <textarea rows="4" placeholder="Product Description"
                                              style="width: 100%;"></textarea>
                                </div>
                                <div class="input-row-gutter">
                                    <select>
                                        <option>Session Tickets</option>
                                        <option>Knowledge Transfer</option>
                                        <option>Code Review</option>
                                        <option>Code Help</option>
                                    </select>
                                </div>
                                <div class="input-row-gutter">
                                    <span class="input-lable">No of Items</span>
                                    <input type="text" placeholder="1" style="max-width: 50px;"/>
                                </div>
                                <div class="input-row-gutter">
                                    <span class="input-lable">Auction</span>
                                    <input type="checkbox"/>
                                    <span class="input-lable">Min Bid</span>
                                    <input type="text" placeholder="Min Bid" style="max-width: 80px;"/>
                                </div>
                                <!--<div class="input-row-gutter">
                                    <span class="input-lable">Min Bid</span>
                                    <input type="text" placeholder="Amount" style="max-width: 80px;"/>
                                </div>-->
                                <div class="input-row-gutter">
                                    <span class="input-lable">Expires</span>
                                    <input type="checkbox"/>
                                    <input type="date" style="color: #282828;" placeholder="Date"/>
                                </div>
                            </td>
                            <td style="vertical-align: top;display: block;">
                                <div style="padding-left: 15px;border-left: 1px solid #eaeaea;margin-left: 15px;min-height: 160px;">
                                    <div style="padding-bottom: 12px;">
                                        <div style="padding: 12px;text-align: center;font-size: 13px;color: #9a9a9a;">
                                            No Images added
                                        </div>
                                    </div>
                                    <button style="background-color: #4b87d2;">Add Image</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="text-align: right;">
                    <button style="background-color: #de4747;">Add New Item to Sell</button>
                    <button style="background-color: #666666;">Cancel</button>
                </div>
            </div>
    </div>
    <!-- widget end -->
    <!-- widget -->
    <div ng-include="'widgets/products-widget.html'"></div>
    <!-- widget end -->
</div>
<div class="right-col-main">
    <div ng-include="'widgets/myItems-widget.html'"></div>
</div>
