<div style="position: relative;width: 1024px;margin: 0 auto; padding-top: 15px; clear: both;">
    <div style="float: left; width: 605px">
        <!-- widget -->
        <div class="swidget">
            <!-- button -->
            <button style="background-color: #de4747;">Add New Item to Sell </button>
            <!-- button end-->
        </div>
        <!-- widget end -->
        <!-- widget -->
        <div class="swidget">
            <!-- head -->
            <div class="head-div">
                <span style="font-weight: bold;color: #282828;">Buy Products</span>
                <span>My Products</span>
            </div>
            <!-- head end -->
            <!-- widget content -->
            <div class="cont-div" style="padding-top: 12px;overflow: hidden;">
                <ul style="width: 700px;margin: 0 0 -25px 0;padding: 0;">
                    <li style="margin:0 25px 25px 0;display: inline-block">
                        <!-- product -->
                        <div style="display: inline-block;padding: 4px;padding-bottom: 11px;border: 1px solid #d8d8d8; position: relative;">
                            <img style="width:164px;height:94px;margin-bottom: 25px;" src="product-cover001.png"/>
                            <img style="border-radius: 50%; position: absolute; width: 70px; height: 70px;left: 50px;top: 50px;" src="propic01.png"/>
                            <div style="color: #737373;font-size:15px;text-align: center;">Product Name</div>
                            <div style="color: #b0b0b0;font-size:12px;text-align: center;">8 left</div>
                            <div style="text-align: center;">
                                <button style="background-color: #0db741;">Details</button>
                            </div>
                        </div>
                        <!-- product end -->
                    </li>
                </ul>
            </div>
            <!-- widget content end-->
        </div>
        <!-- widget end -->
    </div>
    <div style="float: left; padding-left: 15px; width:404px;">
        <!-- widget -->
        <div class="swidget">
            <!-- head -->
            <div class="head-div">
                <span style="font-weight: bold;color: #282828;">My Bids</span>
                <span>My Items</span>
            </div>
            <!-- head end -->
            <!-- widget content -->
            <div style="padding-top: 12px;overflow: hidden;">
                <ul style="margin: 0 0 -12px 0;padding: 0;">
                    <li style="display: block;">
                        <!-- My bid -->
                        <div style="border: 1px solid #d8d8d8; border-left: none; border-right: none;padding: 11px 0 11px 0;min-height: 70px;position: relative;margin-top: -1px;">
                            <img style="width: 70px; height: 70px;border-radius: 50%;position: absolute;" src="product-cover001.png" />
                            <div style="position: absolute;font-size: 12px;color: #777777; right: 0px;top: 13px;border-radius:50%;border: 1px solid #777777;width: 20px; height: 18px; text-align: center;padding-top: 2px;">
                                <span style="position: relative;font-size: 13px;">01</span>
                            </div>
                            <div style="padding: 2px 0 0 90px;">
                                <div style="color: #666666;font-size: 15px;font-weight: bold;">Session Tickets</div>
                                <div style="color: #777777;font-size: 13px;padding: 4px 0 0 0px;">Expires in one day</div>
                                <div>
                                    <div style="color: #777777;font-size: 13px;padding: 10px 0 0 0px;float:left;">Current bid 5,000 K$</div>
                                    <button style="background-color: #4b87d2;float:right;">Bid</button>
                                </div>
                            </div>
                        </div>
                        <!-- My bid -->
                        <!-- My Item -->
                        <div style="border: 1px solid #d8d8d8; border-left: none; border-right: none;padding: 11px 0 11px 0;min-height: 70px;position: relative;margin-top: -1px;">
                            <img style="width: 70px; height: 70px;border-radius: 50%;position: absolute;" src="product-cover001.png" />
                            <div style="padding: 2px 0 0 90px;">
                                <div style="color: #666666;font-size: 15px;font-weight: bold;">Session Tickets</div>
                                <div style="color: #777777;font-size: 13px;padding: 4px 0 0 0px;">from Hasith Yaggahawita</div>
                                <div>
                                    <div style="color: #777777;font-size: 13px;padding: 10px 0 0 0px;float:left;">Bought for 3,000 K$</div>
                                    <button style="background-color: #4b87d2;float:right;">Sell Back</button>
                                </div>
                            </div>
                        </div>
                        <!-- My Item -->
                    </li>
                </ul>
            </div>
            <!-- widget content end-->
        </div>
        <!-- widget end -->
    </div>
</div>