* {
    font-family: Roboto, arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

/***************************/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/***************************/

body {
    background-color: #e5e5e5;
}

span {
    font-size: inherit; /*spans dint inherit from parent*/
}

a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
    cursor: default;
}

button {
    background-color: #de4747;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 6px 15px 5px 15px;
    min-width: 80px;
}

button:focus {
    outline: 0;
}

button.btnbg-red {
    background-color: #de4747;
}

button.btnbg-blue {
    background-color: #4b87d2;
}

button.btnbg-gray {
    background-color: #666666;
}

a.btnbg-red {
    color: #de4747;
}

a.btnbg-blue {
    color: #4b87d2;
}

a.btnbg-gray {
    color: #666666;
}

/***************************/

input, textarea {
    padding: 5px;
    border: 1px solid #cccccc;
    outline: 0;
    font-size: 13px;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color: #4b87d2;
}

input.rightAlgn, textarea.rightAlgn {
    text-align: right;
}

input.type01 {
    max-width: 100px;
    font-size: 16px;
    padding: 3px 5px !important;
}

input.type02 {
    max-width: 120px;
}

select {
    background-color: #fff;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #cccccc;
}

ul li {
    display: block;
}

/***************************/

.L-R-padding0 {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.L-R-margin0 {
    margin-left: 11px !important;
    margin-right: 11px !important;
}

/***************************/

.swidget {
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-radius: 2px;
    background: #fff;
    padding: 0 0 0 0;
    margin-bottom: 15px;
    z-index: 0;
}

.swidget .head-div {
    cursor: default;
    padding: 12px 0 11px 0;
}

.swidget .head-div h3 {
    margin-right: 25px;
    color: #cccccc;
    font-weight: normal !important;
    font-size: 17px;
    display: inline;
}

.swidget .head-div h3.active {
    color: #282828 !important;
}

/****************************/

.propic-small {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

/****************************/

.rowtyp01 {
    border-top: 1px solid #d8d8d8;
    border-left: none;
    border-right: none;
    padding: 11px 0px 12px 0px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rowtyp01.listEmptyMsg {
    text-align: center;
    padding: 35px 0;
    color: #9a9a9a;
    font-size: 13px;
}

/****************************/

#heading {
    padding: 20px;
}

#content {
    width: 600px;
    margin: 0 auto;
}

.form .label {
    font-size: 14px;
    color: #666666;
    padding-right: 8px;
    text-align: right;
}

.form .detail {
    font-size: 14px;
    color: #282828;
    padding-right: 8px;
    max-width: 280px;
}

.form input.size0, .form textarea.size0 {
    width: 150px;
}

.form input.size1, .form textarea.size1 {
    width: 260px;
}

.form input.size2, .form textarea.size2 {
    width: 290px;
}

.form .row0 {
    height: 35px;
}

.form .row1 {
    height: 28px;
}

.rowtyp01 .propic-small {
    float: left;
}

.rowtyp01 .propic-left {
    margin: 3px 0 0 78px;
}

.rowtyp01 .close {
    background: url("/img/close01.png") no-repeat;
    width: 12px;
    height: 12px;
    float: right;
}