<ul ng-init="ui={};ui.isShowInvestors=false;" ng-controller="loanCtrl">
    <li class="L-R-margin0">
        <!-- my loans -->
        <ul style="margin: 0; padding: 0">
            <li ng-repeat="loan in loans">
                <!-- You took money -->
                <div class="rowtyp01">
                    <img class="propic-small" ng-src="{{loan.investor.propic}}"/>

                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">Amount {{loan.amount}} K$ <span>{{loan.timeago}}</span></div>
                        <div class="rowL2Typ02">You took from {{loan.investor.shname}}
                        </div>


                        <div ng-init="ui={};ui.paybkCnf=false;" class="rowL2Typ03">
                            <div ng-show="!ui.paybkCnf">
                                <span>Interest {{loan.interest}}% per month</span>
                                <a ng-click="ui.paybkCnf=true;" class="link-btn"
                                   style="color: #4b87d2;float:right;">Pay Back</a>
                            </div>
                            <div ng-show="ui.paybkCnf" class="confrm">
                                <span>Are you sure?</span>
                                <a ng-click="" class="link-btn" style="color: #4b87d2;">Pay Back</a>
                                <a ng-click="ui.paybkCnf=false;" class="link-btn" style="color: #666666;">Cancel</a>
                            </div>
                        </div>

                    </div>

                    <div style="clear: both;"></div>
                </div>
                <!-- You took money end -->
            </li>
        </ul>
        <!-- my loans end -->

        <!-- new loan button -->
        <div ng-show="!ui.isShowInvestors" class="rowtyp01">
            <button ng-click="ui.isShowInvestors=true;" onclick="window.utils.scrollToFcs('investorsListLoc');"
                    style="background-color: #4b87d2;">Get Loan
            </button>
        </div>
        <!-- new loan button end-->
    </li>
    <li id="investorsListLoc"></li>
    <li ng-show="ui.isShowInvestors">
        <!--investors head-->
        <div class="rowtyp01 subhead01">
            <div class="L-R-margin0">
                <h3>Investors</h3>
                <img class="close" ng-click="ui.isShowInvestors=false;" src="../close01.png">
            </div>
        </div>
        <!--investors head end -->

        <!--investors list -->
        <ul class="L-R-margin0" style="margin: 0;padding: 0;">
            <li ng-repeat="investor in investors">
                <!-- Investor -->
                <div class="rowtyp01">
                    <img class="propic-small"
                         ng-src="{{investor.investor.propic}}"/>

                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">Amount
                            {{investor.amount}} K$ <span>1 month ago</span></div>
                        <div class="rowL2Typ02">Added by {{investor.investor.shname}}</div>

                        <div ng-init="ui={};ui.TakeItCnf=false;" class="rowL2Typ03">
                            <div>
                                <span>Interest {{investor.interest}}% per month</span>
                                <a ng-show="!ui.TakeItCnf" ng-click="ui.TakeItCnf=true;" class="link-btn"
                                   style="color: #de4747;float:right;">Take it</a>
                            </div>
                            <div ng-show="ui.TakeItCnf" class="confrm">
                                <span>Are you sure?</span>
                                <a ng-click="" class="link-btn" style="color: #de4747;">Take it</a>
                                <a ng-click="ui.TakeItCnf=false;" class="link-btn" style="color: #666666;">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both;"></div>
                </div>
                <!-- Investor end -->
            </li>
        </ul>
        <!--investors list end-->

        <!--investors close button-->
        <div class="L-R-margin0 rowtyp01">
            <button ng-click="ui.isShowInvestors=false;" style="background-color: #4b87d2;">Cancel</button>
        </div>
        <!--investors close button end-->
    </li>
</ul>