<div kex-widget>

    <ul tab-title="My Investments" ng-controller="myInvestCtrl">
        <li>
            <ul class="L-R-margin0" style="margin: 0;padding: 0;">
                <li ng-repeat="invst in investments">
                    <!-- You Invested -->
                    <div ng-init="ui.RateChng = false" class="data-row01">
                        <img ng-if="invst.person==null" class="propic-small" style="position: absolute;opacity: .4" ng-src="propic01.png"/>
                        <img ng-if="invst.person!=null" class="propic-small" style="position: absolute;" ng-src="{{invst.person.propic}}"/>

                        <img ng-if="invst.person==null" style="position: absolute;right: 0px;margin-top:4px;" src="close01.png"/>

                        <div style="padding: 2px 0 0 90px;">
                            <div style="color: #666666;font-size: 15px;font-weight: bold;">Amount 21,000 K$ <span
                                    style="font-weight: normal;color: #777777;">1 month ago</span></div>

                            <div ng-if="invst.person==null" style="color: #777777;font-size: 13px;padding: 4px 0 0 0px;">You invested</div>
                            <div ng-if="invst.person!=null" style="color: #777777;font-size: 13px;padding: 4px 0 0 0px;">You invested in {{invst.person.name}}</div>

                            <div ng-show="!ui.RateChng" style="padding: 10px 0 0 0px;">
                                <div style="color: #777777;font-size: 13px;float:left;">Interest 10% per month</div>
                                <a ng-click="ui.RateChng=true" class="link-btn" style="color: #4b87d2;float:right;">Change %</a>
                            </div>

                            <div ng-show="ui.RateChng" style="padding: 10px 0 0 0px;text-align: right;">
                                <input placeholder="Profit Rate" type="text"/>
                                <a class="link-btn" style="color: #4b87d2;">Change %</a>
                                <a ng-click="ui.RateChng=false" class="link-btn" style="color: #666666;">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <!-- You Invested end -->
                </li>
            </ul>
            <div ng-show="!isShowInvest" class="L-R-margin0 data-row01" style="min-height: 0;">
                <button ng-click="showInvest()" style="background-color: #4b87d2;">Invest money</button>
            </div>
        </li>
        <li ng-show="isShowInvest">
            <div class="data-row01 swidget-sublist">
                <div class="L-R-margin0">
                    <h3>Invest Money</h3>
                    <img class="close" ng-click="hideInvest()" src="../close01.png">
                </div>
            </div>
            <div class="L-R-margin0 data-row01">
                <img class="propic-small" style="position: absolute;" src="propic01.png"/>

                <div style="padding: 2px 0 0 90px;">
                    <table>
                        <tr>
                            <!-- <td class="input-Labl01">Ammount</td> -->
                            <td><input placeholder="Ammount K$" type="text"/></td>
                        </tr>
                        <tr>
                            <!-- <td class="input-Labl01">Profit Rate</td> -->
                            <td><input placeholder="Profit Rate %" type="text"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="L-R-margin0 data-row01" style="min-height: 0;">
                <button ng-click="hideInvestors()" style="background-color: #4b87d2;">Invest</button>
            </div>
        </li>
    </ul>
    <ul tab-title="Loans" ng-controller="loanCtrl">
        <li class="L-R-margin0">
            <ul style="margin: 0; padding: 0">
                <li>
                    <!-- You took money -->
                    <div class="data-row01">
                        <img class="propic-small" style="position: absolute;" src="propic02.png"/>

                        <div style="padding: 2px 0 0 90px;">
                            <div style="color: #666666;font-size: 15px;font-weight: bold;">Amount 1,000 K$ <span
                                    style="font-weight: normal;color: #777777;">1 month ago</span></div>
                            <div style="color: #777777;font-size: 13px;padding: 4px 0 0 0px;">You took from Hasith</div>
                            <div style="padding: 10px 0 0 0px;">
                                <div style="color: #777777;font-size: 13px;float:left;">Interest 10% per month</div>
                                <a class="link-btn" style="color: #0db741;float:right;">Pay Back</a>
                            </div>
                        </div>
                    </div>
                    <!-- You took money end -->
                </li>
                <li ng-show="!isShowInvestors">
                    <div class="data-row01" style="min-height: 0;">
                        <button ng-click="showInvestors()" style="background-color: #4b87d2;">Get Loan</button>
                    </div>
                </li>
            </ul>
        </li>
        <li ng-show="isShowInvestors">
            <div class="data-row01 swidget-sublist">
                <div class="L-R-margin0">
                    <h3>Investors</h3>
                    <img class="close" ng-click="hideInvestors()" src="../close01.png">
                </div>
            </div>
            <!---->
            <ul class="L-R-margin0" style="margin: 0;padding: 0;">
                <li ng-repeat="investor in investors">
                    <!-- Investor -->
                    <div class="data-row01">
                        <img class="propic-small" style="position: absolute;" ng-src="{{investor.investor.propic}}"/>

                        <div style="padding: 2px 0 0 90px;">
                            <div style="color: #666666;font-size: 15px;font-weight: bold;">Amount {{investor.amount}} K$ <span
                                    style="font-weight: normal;color: #777777;">1 month ago</span></div>
                            <div style="color: #777777;font-size: 13px;padding: 4px 0 0 0px;">Added by
                                {{investor.investor.name}}
                            </div>
                            <div style="padding: 10px 0 0 0px;">
                                <div style="color: #777777;font-size: 13px;float:left;">Interest {{investor.interest}}%
                                    per
                                    month
                                </div>
                                <a class="link-btn" style="color: #de4747;float:right;">Take it</a>
                            </div>
                        </div>
                    </div>
                    <!-- Investor end -->
                </li>
            </ul>
            <div class="L-R-margin0 data-row01" style="min-height: 0;">
                <button ng-click="hideInvestors()" style="background-color: #4b87d2;">Cancel</button>
            </div>
        </li>
    </ul>
</div>