<ul ng-controller="mybidsctrl" class="L-R-margin0">
    <li style="display: block;">
        <!-- My bid -->
        <div class="rowtyp01">
            <img class="propic-small" src="product-cover001.png"/>

            <div class="place-circle">
                <span>1</span>
            </div>

            <div ng-init="ui={};ui.showbids=false;" class="pad-rightTo-propic">
                <div class="rowL2Typ01">Session Tickets</div>
                <div class="rowL2Typ02">Expires in one day</div>
                <div class="rowL2Typ03">
                    <span>Current bid 5,000 K$</span>
                    <div style="display: inline-block;float:right;">
                        <a ng-show="!ui.showbids" ng-click="ui.showbids=true;" class="link-btn" style="color: #4b87d2;">Place Bid</a>
                        <a ng-show="ui.showbids" ng-click="ui.showbids=false;" class="link-btn" style="color: #666666;">Cancel</a>
                    </div>
                </div>

                <!-- bids list -->
                <div ng-show="ui.showbids" style="margin-top: 12px;" ng-include="'widgets/bidsHistory.html'"></div>
                <!-- bids list end -->
            </div>
            <div style="clear: both;"></div>
        </div>
        <!-- My bid -->
    </li>
</ul>