<ul ng-controller="mybidsctrl" class="L-R-margin0">
    <li style="display: block;">
        <!-- My bid -->
        <div class="data-row01">
            <img class="propic-small" style="float: left;" src="product-cover001.png"/>

            <div class="place-circle">
                <span>1</span>
            </div>

            <div ng-init="ui={};ui.showbids=false;" class="pad-rightTo-propic">
                <div style="color: #666666;font-size: 15px;font-weight: bold;">Session Tickets</div>
                <div class="topgutter01" style="color: #777777;">Expires in one day</div>
                <div class="topgutter02">
                    <span style="color: #777777;">Current bid 5,000 K$</span>
                    <div style="display: inline-block;float:right;">
                        <a ng-show="!ui.showbids" ng-click="ui.showbids=true;" class="link-btn" style="color: #4b87d2;">New Bid</a>
                        <a ng-show="ui.showbids" ng-click="ui.showbids=false;" class="link-btn" style="color: #666666;">Cancel</a>
                    </div>
                </div>

                <!-- bids list --->
                <div ng-show="ui.showbids" style="margin-top: 12px;">
                    <!-- new bid input -->
                    <div class="data-row01" style="white-space: nowrap;text-align: right;">
                        <input type="text" placeholder="Place new bid K$" style="text-align: right;"/>
                        <button style="background-color: #4b87d2;">Bid</button>
                    </div>
                    <!-- new bid input end -->

                    <!-- bids hist -->
                    <ul class="bids01">
                        <li class="data-row01">
                            <span style="color: #282828;">Samiyuru</span>
                            <span style="color: #9a9a9a;margin-left: 12px;">1 hour ago</span>
                            <span style="float: right;">10,0000 K$</span>
                        </li>
                        <li class="data-row01">
                            <span style="color: #282828;">Samiyuru</span>
                            <span style="color: #9a9a9a;margin-left: 12px;">1 hour ago</span>
                            <span style="float: right;">10,0000 K$</span>
                        </li>
                        <li class="data-row01">
                            <span style="color: #282828;">Samiyuru</span>
                            <span style="color: #9a9a9a;margin-left: 12px;">1 hour ago</span>
                            <span style="float: right;">10,0000 K$</span>
                        </li>
                    </ul>
                    <!-- bids hist end -->

                    <!--load more --->
                    <div class="data-row01" style="border-bottom: none;text-align: center;">
                        <a class="link-btn" style="color: #737373;">Load all bids</a>
                    </div>
                    <!--load more end --->
                </div>
                <!-- bids list end --->
            </div>
            <div style="clear: both;"></div>
        </div>
        <!-- My bid -->
    </li>
</ul>