<!-- widget -->
<div class="swidget">
    <!-- head -->
    <div class="L-R-margin0">
    <div tab-head class="head-div">
        <h3 ng-repeat="tab in tabs" ng-class="{active:tab.isShow}" ng-click="tabShow($index)">{{tab.title}}</h3>
    </div>
        </div>
    <!-- head end -->
    <!-- widget content -->
    <div style="padding-top: 8px;overflow: hidden;">
        <div style="margin: 0 0 -12px 0;padding: 0;" ng-transclude>
        </div>
    </div>
    <!-- widget content end-->
</div>
<!-- widget end -->