#loginparent {
    height: 100%;
}

.login {
    width: 250px;
    margin: 200px auto;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0px;
    padding: 18px;
}

.login .head {
    margin-bottom: 15px;
}

.login .btnPane {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #d8d8d8;
}

.login input {
    font-size: 14px;
    padding: 6px;
    margin: 6px 0 0 0;
    width: 100%;
}

.login input:focus {

}

.login .logo {
    height: 100%;
    display: inline;
    vertical-align: middle;
}

.login .text {
    padding: 0 5px;
    position: relative;
    line-height: 40px;
    vertical-align: middle;
    font-size: 24px;
    color: #666666;
}

.login .fbloginButt {
    display: inline-block;
    height: 40px;
}

.login .loader {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url("/img/loader.GIF") no-repeat;
}