* {
    font-family: Roboto, arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

/***************************/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/***************************/

body {
    background-color: #e5e5e5;
}

span {
    font-size: inherit; /*spans dint inherit from parent*/
}

a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
    cursor: default;
}

button {
    background-color: #de4747;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 6px 15px 5px 15px;
    min-width: 80px;
}

button:focus {
    outline: 0;
}

button.btnbg-red {
    background-color: #de4747;
}

button.btnbg-blue {
    background-color: #4b87d2;
}

button.btnbg-gray {
    background-color: #666666;
}

a.btnbg-red {
    color: #de4747;
}

a.btnbg-blue {
    color: #4b87d2;
}

a.btnbg-gray {
    color: #666666;
}

/***************************/

input, textarea {
    padding: 5px;
    border: 1px solid #cccccc;
    outline: 0;
    font-size: 13px;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input.ng-invalid,textarea.ng-invalid {
    border: 1px solid #dc7563;
}

input:focus, textarea:focus {
    border-color: #4b87d2;
}

input.rightAlgn, textarea.rightAlgn {
    text-align: right;
}

input.type01 {
    max-width: 100px;
    font-size: 16px;
    padding: 3px 5px !important;
}

input.type02 {
    max-width: 120px;
}

select {
    background-color: #fff;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #cccccc;
}

/***************************/

ul li {
    display: block;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0px 30px 0px 30px;
}

nav a {
    display: inline-block;
    line-height: 39px;
    padding-top: 3px;
    color: #737373;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
}

.input-Labl01 {
    padding: 5px 0 5px 0;
    font-size: 14px;
    color: #737373;
    text-align: right;
}

nav a.active {
    color: #282828 !important;
    text-decoration: none !important;
    font-weight: bold !important;
    border-bottom: 3px solid #4b87d2;
}

/***************************/

.rightspc01 {
    margin-right: 5px;
}

.leftspc01 {
    margin-left: 5px;
}

.confrm span {
    color: #282828;
    font-weight: bold;
}

/***************************/

.swidget {
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-radius: 2px;
    background: #fff;
    padding: 0 0 0 0;
    margin-bottom: 15px;
    z-index: 0;
}

.swidget .head-div {
    cursor: default;
    padding: 12px 0 11px 0;
}

.swidget .head-div h3 {
    margin-right: 25px;
    color: #cccccc;
    font-weight: normal !important;
    font-size: 17px;
    display: inline;
}

.swidget .head-div h3.active {
    color: #282828 !important;
}

.swidget .subhead01 {
    background-color: #f5f5f5;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: -1px;
}

.swidget .subhead01 h3 {
    padding: 8px 0;
    display: inline;
    font-size: 15px;
    font-weight: normal;
    color: #cccccc;
}

.swidget .subhead01 h3.active {
    color: #444;
    font-weight: bold;
}

.swidget .subhead01 .close {
    float: right;
    margin: 5px 0;
}

/****scroll style inside widget****/

.swidget .tabScroll::-webkit-scrollbar {
    width: 6px;
}

.swidget .tabScroll::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid #fff;
}

.swidget .tabScroll::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.swidget .tabScroll::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

/***************************/

.propic-small {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.propic-large {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.propic-mid {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/***************************/

.rowtyp01 {
    border-top: 1px solid #e0e0e0;
    border-left: none;
    border-right: none;
    padding: 11px 0px 12px 0px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rowtyp01.listEmptyMsg {
    text-align: center;
    padding: 35px 0;
    color: #9a9a9a;
    font-size: 13px;
}

.rowtyp01 .propic-small {
    float: left;
}

.rowtyp01 .pad-rightTo-propic {
    padding: 3px 0 0 80px;
}

.rowtyp01 .rowL2Typ01 {
    text-transform: capitalize;
    color: #737373;
    font-size: 15px;
    font-weight: bold;
}

.rowtyp01 .rowL2Typ01 span {
    font-weight: normal;
    color: #7e7e7e;
    padding-left: 8px;
    font-size: 14px;
}

.rowtyp01 .rowL2Typ02 {
    margin-top: 3px;
    color: #777777;
    display: table;
    width: 100%;
}

.rowtyp01 .rowL2Typ02 .rightPull {
    text-align: right;
    display: table-cell;
    vertical-align: top;
}

.rowtyp01 .rowL2Typ03 {
    margin-top: 10px;
    color: #666666;
    display: table;
    width: 100%;
}

.rowtyp01 .rowL2Typ03 .leftPull {
    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.rowtyp01 .rowL2Typ03 .rightPull {
    text-align: right;
    display: table-cell;
    vertical-align: top;
}

.rowtyp01 .rowL2Typ04 {
    margin-top: 6px;
    color: #93847d;
}

/***************************/

.rowtyp01.earning .rowL2Typ02 {
    color: #777777;
    font-size: 12px;
    padding: 0 0 0 15px;
}

.rowtyp01.earning .rowL2Typ03 {
    color: #282828;
    font-size: 14px;
    padding: 0 0 0 15px;
}

/***************************/

.rowtyp01.loadmr {
    text-align: center;
}

.rowtyp01.loadmr .link-btn {
    color: #9a9a9a;;
}

/***************************/

.left-col-main {
    width: 595px;
    float: left;
}

.right-col-main {
    width: 404px;
    float: left;
    padding-left: 15px;
}

.content-body {
    min-height: 700px;
    position: relative;
    width: 1015px;
    margin: 0 auto;
    padding-top: 15px;
    clear: both;
}

/***************************/

.link-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    cursor: default;
    padding-top: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/***************************/

.L-R-padding0 {
    padding-left: 11px;
    padding-right: 11px;
}

.L-R-margin0 {
    margin-left: 11px;
    margin-right: 11px;
}

/***************************/

.focusShadow01 {
    box-shadow: 1px 5px 17px 0 #282828;
    border: 0 !important;
    z-index: 1000 !important;
}

/***************************/

.place-circle {
    float: right;
    margin-top: 3px;
    /*   display: table-cell*/;
    font-size: 12px;
    color: #777777;
    border-radius: 50%;
    border: 1px solid #777777;
    width: 18px;
    height: 17px;
    padding-top: 2px;
    text-align: center;
    vertical-align: middle;
}

.place-circle span {
    position: relative;
    font-size: 13px;
}

/***************************/

.bidhist .nwbid {
    white-space: nowrap;
    text-align: right;
}

.bidhist .nwbid input {
    text-align: right;
}

.bidhist .nwbid button {
    background-color: #4b87d2;
}

.bidhist .bidcol1 {
    color: #282828;
}

.bidhist .bidcol2 {
    color: #9a9a9a;
    margin-left: 12px;
}

.bidhist .bidcol3 {
    color: #000;
    float: right;
    padding-right: 4px;
}

/***************************/

.mybid .rowL2Typ01 {
    cursor: default;
}

.mybid .bids {
    margin-top: 12px;
    padding-top: 0px;
}

.productinfo-li {
    background-color: #282828;
    padding: 12px 12px 20px 12px;
}

.productinfo-li .wrap0 {
    padding-left: 78px;
}

.productinfo-li .by {
    color: #4b87d2;
    margin-bottom: 6px;
}

.productinfo-li .detail {
    padding-right: 70px;
    color: #cccccc;
}

.productinfo-li .imgs {
    margin: 12px -4px -4px 0;
    line-height: 0;
}

.productinfo-li .imgs img {
    max-height: 60px;
    margin: 0 4px 4px 0;
}

.productinfo-li .close {
    float: right;
    margin-top: 2px;
}

/**************************/

.product {
    padding-bottom: 11px;
    border: 1px solid #d8d8d8;
    position: relative;
    cursor: default;
    display: inline-block;
    margin: 0 19px 19px 0;
}

.product .cover {
    width: 177px;
    height: 94px;
    margin: -1px;
}

.product .dtlPad {
    padding: 0 15px;
}

.product .propic {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
}

.product .propic img {
    display: inline-block;
}

.product .row01 {
    margin: 38px 0 0 0;
    color: #666666;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    /*height: 35px;
    line-height: 35px;*/
}

.product .row01 span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.product .row02 {
    margin: 6px auto 0 auto;
    color: #b0b0b0;
    font-size: 12px;
    text-align: center;
}

.product .row03 {
    margin: 2px auto 0 auto;
    text-align: center;
    color: #282828;
    font-size: 13px;
    font-weight: bold;
}

.product-inf {
    margin: 0 19px 19px 0;
    margin-right: 31px /*19+12 minus margine of products container + normal margine of 12*/;
    position: relative;
    display: none;
}

/**********************************/

.productinf {
    padding: 22px;
    background-color: #282828;
    margin-top: -5px;
}

.productinf .uparrw {
    position: absolute;
    bottom: 100%;
    height: 0;
    width: 0;
    border-bottom: 10px solid #282828;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.productinf h3 {
    color: #d8d8d8;
    font-weight: normal;
    font-size: 16px;
    max-width: 90%;
}

.productinf .exp {
    color: #9a9a9a;
    margin: 3px 0;
}

.productinf .owner {
    color: #4b87d2;
}

.productinf .desc {
    color: #cccccc;
    margin: 6px 0;
    max-width: 90%;
}

.productinf .imgs {
    margin: 15px -4px -4px 0;
    line-height: 0;
}

.productinf .imgs img {
    max-height: 60px;
    margin: 0 4px 4px 0;
}

.productinf #closePrnt {
    position: relative;
    min-height: 20px;
}

.productinf .close {
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 4px;
}

.productinf td {
    vertical-align: top;
}

.productinf table {
    border-collapse: collapse;
    width: 100%;
}

.productinf #maincol2 {
    width: 185px;
    padding-left: 15px;
}

.productinf #purchase {
    white-space: nowrap;
    text-align: right;
}

.productinf #purchase .confrm {
    margin-top: 8px;
    color: #9a9a9a;
}

.productinf #purchase .confrm span {
    font-weight: bold;
}

.productinf .btnbg-gray {
    color: #9a9a9a;
}

.productinf #purchase button {
    background-color: #4b87d2;
}

.productinf #purchase #price {
    font-size: 16px;
    color: #cccccc;
    margin-right: 10px;
}

.productinf .bidhist .nwbid {
    border-color: #666666;
    padding-top: 0;
    border-top: none;
}

.productinf .bidhist li {
    border-color: #666666;
}

.productinf .bidhist .bidcol1 {
    color: #cccccc;
}

.productinf .bidhist .bidcol2 {
    color: #9a9a9a;
}

.productinf .bidhist .bidcol3 {
    color: #cccccc;
}

.productinf .bidhist .loadmr {
    border-color: #666666;
    padding-bottom: 0;
}

.productinf .bidhist ul::-webkit-scrollbar {
    width: 9px;
}

.productinf .bidhist ul::-webkit-scrollbar-track {
    background-color: #282828;
    border-left: 1px solid #666666;
}

.productinf .bidhist ul::-webkit-scrollbar-thumb {
    background-color: #9a9a9a;
}

.productinf .bidhist ul::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*************************************/

.instore .bids {
    margin-top: 12px;
    padding-top: 0px;
}

.instore .rowL2Typ01 {
    cursor: default;
}

/*************************************/

table.accounts {
    width: 100%;
    border-collapse: collapse;
}

table.accounts .desc {
    text-align: left;
}

table.accounts .desc .obj {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    text-transform: capitalize;
}

table.accounts .desc .subj {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
    text-transform: capitalize;
}

table.accounts .date {
    width: 115px;
    text-align: right;
    color: #666666;
}

table.accounts .amt {
    width: 100px;
    text-align: right;
}

table.accounts .bal {
    width: 100px;
    text-align: right;
}

table.accounts th {
    color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #ececec;
    border-left: none;
    border-right: none;
    padding: 8px 0 8px 0;
}

table.accounts td {
    color: #282828;
    font-size: 14px;
    border-top: 1px solid #ececec;
    border-left: none;
    border-right: none;
    padding: 8px 0 8px 0;
}

/*************************************/

.selectedApp iframe {
    width: 100%;
    min-height: 800px;
    border: none;
    overflow-x: hidden;
    height: 100%;
}

.selectedApp .head-div {
    min-height: 25px;
}

.selectedApp .uninstall {
    display: inline-block;
    margin-left: 15px;
}

.selectedApp .uninstall .confrm {
    position: relative;
    top: 2px;
}

.selectedApp .rowtyp01.listEmptyMsg {
    border: none;
}

/*************************************/

.installedApps ul {
    margin-left: -15px;
    padding-left: 26px;
}

.installedApps li .arrow {
    position: absolute;
    height: 0;
    width: 0;
    left: -23px;
    top: 8;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
}

.installedApps .rowL2Typ01 {
    cursor: default;
}

/*************************************/

.availableApps .confrm {
    padding: 4px 0;
}

.availableApps .installedapp {
    text-align: center;
    padding: 45px 0;
    color: #444444;
    font-size: 13px;
}

/*************************************/

.input-lable {
    font-size: 13px;
    color: #737373;
    margin-right: 5px;
    min-width: 50px;
    display: inline-block;
}

.input-row-gutter {
    margin: 0 0 12px 0;
}

.newProductForm table {
    width: 100%;
    border-collapse: collapse;
}

.newProductForm table .lcol {
    vertical-align: top;
    width: 280px;
}

.newProductForm table .rcol {
    vertical-align: top;
    display: block;
}

.newProductForm form {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
}

.newProductForm .imgupload {
    padding-left: 15px;
    border-left: 1px solid #eaeaea;
    margin-left: 15px;
    min-height: 160px;
}

.newProductForm .rowtyp01.buttons{
    border: none;
}

/*************************************/