<div kex-widget>
    <div kex-tab="Account History">
        <ul class="L-R-margin0" ng-controller="accountCtrl">
            <table class="accounts">
                <tr>
                    <th class="desc">Description</th>
                    <th class="date">Date</th>
                    <th class="amt">Amount</th>
                    <th class="bal">Balance</th>
                </tr>
                <tr ng-repeat="accLog in accLogs">
                    <td class="desc">
                        <span>{{accLog.detail}}</span><a ng-if="accLog.subject" prfid="accLog.subject && accLog.subject.id">{{accLog.subject.nickname}}</a>
                    </td>
                    <td class="date"><span timediff="accLog.date"></span></td>
                    <td class="amt">{{accLog.amount}}</td>
                    <td class="bal">{{accLog.balance}}</td>
                </tr>
            </table>
        </ul>
    </div>
</div>