<div kex-widget>
    <div kex-tab="Account History">
        <div ng-controller="accountCtrl" class="L-R-margin0">

            <table class="accounts">
                <tr>
                    <th class="desc">Description</th>
                    <th class="date">Date</th>
                    <th class="amt">Amount</th>
                    <th class="bal">Balance</th>
                </tr>
                <tr ng-repeat="accLog in accLogs">
                    <td class="desc">
                        <span ng-if="accLog.object.title" class="obj">{{accLog.object.title}}</span>
                        <span>{{accLog.detail}}</span>
                        <a ng-if="accLog.subject" prfid="accLog.subject && accLog.subject.id" class="subj">{{accLog.subject.nickname}}</a>
                    </td>
                    <td class="date"><span timediff="accLog.date"></span></td>
                    <td class="amt">{{accLog.amount}}</td>
                    <td class="bal">{{accLog.balance.toLocaleString()}}</td>
                </tr>
            </table>

            <!--div ng-if="accLogs.length==0;" class="rowtyp01 listEmptyMsg">
                No transactions available
            </div-->

        </div>
    </div>
</div>