<div kex-widget>

    <div class="installedApps" kex-tab="Installed Apps">
        <ul list-scroller="6" class="L-R-padding0" ng-controller="installedAppsCtrl">

            <li class="L-R-margin0 rowtyp01 listEmptyMsg" ng-if="apps.length==0;">
                You haven't installed any apps
            </li>

            <!-- installed app -->
            <li list-item ng-repeat="app in apps">
                <div class="rowtyp01">
                    <div class="arrow"></div>
                    <img class="propic-small" ng-src="{{app.iconUrl}}"/>

                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">{{app.name}}</div>
                        <div class="rowL2Typ02">{{app.desc}}</div>
                        <div class="rowL2Typ03">{{app.userCount}} people use this app</div>
                    </div>

                </div>
                <div style="clear: both;"></div>
            </li>
            <!-- installed app end-->
        </ul>
    </div>


    <div kex-tab="Available Apps">
        <ul list-scroller="5" class="L-R-padding0" ng-controller="availableAppsCtrl">

            <li class="L-R-margin0 rowtyp01 listEmptyMsg" ng-if="apps.length==0;">
                Currently there are no apps available
            </li>

            <!-- available app -->
            <li list-item ng-repeat="app in apps">
                <div class="rowtyp01">

                    <img class="propic-small" ng-src="{{app.iconUrl}}"/>

                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">{{app.name}}</div>
                        <div class="rowL2Typ02">{{app.desc}}</div>
                        <div class="rowL2Typ03">{{app.userCount}} people use this app</div>
                        <div class="rowL2Typ02">
                            <div class="rightPull">
                                <button ng-click="app.install()" class="btnbg-blue">Install</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="clear: both;"></div>
            </li>
            <!-- available app end-->
        </ul>
    </div>

</div>