<ul ng-controller="loanCtrl">
    <li class="L-R-margin0">
        <!-- my loans -->
        <ul>
            <li ng-show="loans.length==0;" class="rowtyp01 listEmptyMsg">
                You haven't taken money from anyone
            </li>
            <li ng-repeat="loan in loans">
                <!-- You took money -->
                <div class="rowtyp01">
                    <img class="propic-small" ng-src="{{loan.investor.propic}}"/>

                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">Amount {{loan.amount}} K$</div>
                        <div class="rowL2Typ02">
                            <span>from {{loan.investor.nickname}}</span>
                            <span timediff="loan.date"></span>
                        </div>


                        <div ng-init="ui={};ui.paybkCnf=false;" class="rowL2Typ03">
                            <div ng-show="!ui.paybkCnf">
                                <span>Rental {{loan.profit}} K$ per week</span>
                                <a ng-click="ui.paybkCnf=true;" class="link-btn btnbg-blue" style="float:right;">Pay Back</a>
                            </div>
                            <div ng-show="ui.paybkCnf" class="confrm">
                                <span>Are you sure?</span>
                                <a ng-click="loan.payBack()" class="link-btn btnbg-blue">Pay Back</a>
                                <a ng-click="ui.paybkCnf=false;" class="link-btn btnbg-gray">Cancel</a>
                            </div>
                        </div>

                    </div>

                    <div style="clear: both;"></div>
                </div>
                <!-- You took money end -->
            </li>
        </ul>
        <!-- my loans end -->

        <!-- new loan button -->
        <div ng-show="((!ui.isShowInvestors) && ui.showInvestButt)" class="rowtyp01">
            <button ng-click="showInvestors();" onclick="window.utils.scrollToFcs('investorsListLoc');" class="btnbg-blue">Need Money</button>
        </div>
        <!-- new loan button end-->
    </li>
    <li id="investorsListLoc"></li>
    <li ng-show="ui.isShowInvestors">
        <!--investors head-->
        <div class="rowtyp01 subhead01">
            <div class="L-R-margin0">
                <h3>Investors</h3>
                <img class="close" ng-click="hideInvestors();" src="../close01.png">
            </div>
        </div>
        <!--investors head end -->

        <!--investors list -->
        <ul class="L-R-margin0">
            <li ng-show="investors.length==0;" class="rowtyp01 listEmptyMsg">
                No Investors available at the moment
            </li>
            <li ng-repeat="investor in investors">
                <!-- Investor -->
                <div class="rowtyp01">
                    <img class="propic-small" ng-src="{{investor.investor.propic}}"/>

                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">Amount {{investor.amount}} K$</div>
                        <div class="rowL2Typ02">
                            <span>by {{investor.investor.nickname}}</span>
                            <span timediff="investor.date"></span>
                        </div>

                        <div ng-init="ui={};ui.TakeItCnf=false;" class="rowL2Typ03">
                            <div>
                                <span>Rental {{investor.profit}} K$ per week</span>
                                <a ng-show="!ui.TakeItCnf" ng-click="ui.TakeItCnf=true;" class="link-btn btnbg-red" style="float:right;">Take it</a>
                            </div>
                            <div ng-show="ui.TakeItCnf" class="confrm">
                                <span>Are you sure?</span>
                                <a ng-click="investor.take()" class="link-btn btnbg-red">Take it</a>
                                <a ng-click="ui.TakeItCnf=false;" class="link-btn btnbg-gray">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both;"></div>
                </div>
                <!-- Investor end -->
            </li>
        </ul>
        <!--investors list end-->

        <!--investors close button
        <div class="L-R-margin0 rowtyp01">
            <button ng-click="ui.isShowInvestors=false;" class="btnbg-blue">Cancel</button>
        </div>
        <!--investors close button end-->
    </li>
</ul>