<ul ng-controller="myInvestCtrl">
    <li>
        <!-- my invetments list -->
        <ul class="L-R-margin0" style="margin: 0;padding: 0;">
            <li ng-repeat="invst in investments">
                <!-- You Invested -->
                <div class="rowtyp01">
                    <div>
                        <!-- delete confirmation -->
                        <div ng-show="invst.ui.isRmv">
                            <div style="margin: 24px auto;text-align: center;">
                                <a ng-click="invst.delete()" class="link-btn btnbg-red">Remove</a>
                                <a ng-click="invst.ui.isRmv=false;" class="link-btn btnbg-gray">Undo</a>
                            </div>
                        </div>
                        <!-- delete confirmation  end-->

                        <!-- invest content -->
                        <div ng-show="!invst.ui.isRmv">
                            <img ng-if="invst.debitor==null" ng-click="invst.ui.isRmv=true;" style="position: absolute;right: 0px;margin-top:4px;" src="close01.png"/>

                            <!-- condinal propic-->
                            <img ng-show="invst.person==null" class="propic-small" style="opacity: .4;" src="propic01.png"/>
                            <img ng-show="invst.person!=null" class="propic-small" ng-src="{{invst.investor.propic}}"/>
                            <!-- condinal propic end-->

                            <div class="pad-rightTo-propic">
                                <div class="rowL2Typ01">Amount {{invst.amount.toLocaleString()}} K$</div>

                                <!-- condinal info-->
                                <div class="rowL2Typ02">
                                    <div ng-if="invst.person==null">
                                        <span>You invested</span>
                                        <span timediff="invst.date"></span>
                                    </div>
                                    <div ng-if="invst.person!=null">
                                        <span>Taken by {{invst.debitor.shname}}</span>
                                    </div>
                                </div>
                                <!-- condinal info end-->

                                <div class="rowL2Typ03">
                                    <!-- profit readonly -->
                                    <div ng-show="!invst.ui.isPrftMod">
                                        <span>Profit {{invst.profit}} K$ per week</span>
                                        <a ng-click="invst.ui.isPrftMod=true" class="link-btn btnbg-blue" style="float:right;">Amend Profit</a>
                                    </div>
                                    <!-- profit readonly end-->
                                    <!-- profit mutable -->
                                    <div ng-show="invst.ui.isPrftMod" style="text-align: right;">
                                        <input ng-model="invst.ui.modPrft" placeholder="Profit per week" class="rightAlgn type02" type="number"/>
                                        <a ng-click="invst.modProfit(invst.ui.modPrft)" class="link-btn btnbg-blue">Change</a>
                                        <a ng-click="invst.ui.isPrftMod=false;invst.ui.modPrft='';" class="link-btn btnbg-gray">Cancel</a>
                                    </div>
                                    <!-- profit mutable end -->
                                </div>
                                <div ng-show="!invst.ui.isPrftMod && invst.profitMod!=null" class="rowL2Typ04">
                                    <span>New profit {{invst.profitMod.profit}} K$, effects in</span>
                                    <span timediff="invst.profitMod.date"></span>
                                </div>
                            </div>
                        </div>
                        <!-- invest content end -->
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <!-- You Invested end -->
            </li>
        </ul>
        <!-- my invetments list end -->

        <!-- invest button -->
        <div ng-show="!ui.isShowNwInvest && ui.showInvestButt" class="L-R-margin0 rowtyp01">
            <button ng-click="ui.isShowNwInvest=true;" onclick="window.utils.scrollToFcs('newInvestmentLoc');" class="btnbg-blue">Invest money</button>
        </div>
        <!-- invest button end-->
    </li>
    <li id="newInvestmentLoc"></li>
    <li ng-show="ui.isShowNwInvest">
        <!-- new investment head-->
        <div class="rowtyp01 subhead01">
            <div class="L-R-margin0">
                <h3>Invest Money</h3>
                <img class="close" ng-click="ui.isShowNwInvest=false" src="../close01.png">
            </div>
        </div>
        <!-- new investment head end-->


        <!-- new investment input -->
        <div class="L-R-margin0 rowtyp01">
            <img class="propic-small" src="propic01.png"/>

            <div class="pad-rightTo-propic">
                <table>
                    <tr>
                        <td>
                            <div class="input-Labl01 rightspc01">Ammount</div>
                        </td>
                        <td>
                            <input class="rightAlgn type01" ng-model="newInvest.amount" placeholder="investment" type="text"/>
                        </td>
                        <td>
                            <div class="input-Labl01 rightspc01">K$</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-Labl01 rightspc01">Profit</div>
                        </td>
                        <td>
                            <input class="rightAlgn type01" ng-model="newInvest.profit" placeholder="per week" type="number"/>
                        </td>
                        <td>
                            <div class="input-Labl01 rightspc01">K$</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- new investment input end -->

        <!-- ok button -->
        <div class="L-R-margin0 rowtyp01">
            <button ng-click="investMoney()" class="btnbg-blue">Invest</button>
        </div>
        <!-- ok button end -->
    </li>
</ul>