<ul>
    <!-- sub container -->
    <li>
        <!-- new investment head-->
        <div class="rowtyp01 subhead01">
            <div class="L-R-margin0">
                <h3 class="active">Products In Store</h3>
                <img class="close" ng-click="ui.isShowNwInvest=false" src="../close01.png">
            </div>
        </div>
        <!-- new investment head end-->
        <ul class="L-R-margin0">
            <!-- My Item -->
            <li class="rowtyp01">
                <img class="propic-small" src="product-cover001.png"/>

                <div class="pad-rightTo-propic">
                    <div class="rowL2Typ01">Session Tickets</div>
                    <div class="rowL2Typ02">from Hasith Yaggahawita</div>
                    <div class="rowL2Typ03">
                        <span>Bought for 3,000 K$</span>
                        <a class="link-btn" style="color: #4b87d2;float:right;">Sell Back</a>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <!-- My Item -->
            <!-- My Item -->
            <li class="rowtyp01">
                <img class="propic-small" src="product-cover001.png"/>

                <div class="pad-rightTo-propic">
                    <div class="rowL2Typ01">Session Tickets</div>
                    <div class="rowL2Typ02">from Hasith Yaggahawita</div>
                    <div class="rowL2Typ03">
                        <span>Bought for 3,000 K$</span>
                        <a class="link-btn" style="color: #4b87d2;float:right;">Sell Back</a>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <!-- My Item -->
            <!-- My Item -->
            <li class="rowtyp01">
                <img class="propic-small" src="product-cover001.png"/>

                <div class="pad-rightTo-propic">
                    <div class="rowL2Typ01">Session Tickets</div>
                    <div class="rowL2Typ02">from Hasith Yaggahawita</div>
                    <div class="rowL2Typ03">
                        <span>Bought for 3,000 K$</span>
                        <a class="link-btn" style="color: #4b87d2;float:right;">Sell Back</a>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <!-- My Item -->
        </ul>
    </li>
    <!-- sub container end-->

    <!-- sub container -->
    <li>
        <!-- new investment head-->
        <div class="rowtyp01 subhead01">
            <div class="L-R-margin0">
                <h3>Sold Products</h3>
                <img class="close" ng-click="ui.isShowNwInvest=false" src="../close01.png">
            </div>
        </div>
    </li>
    <!-- sub container end-->

    <!-- sub container -->
    <li>
        <!-- new investment head-->
        <div class="rowtyp01 subhead01">
            <div class="L-R-margin0">
                <h3>Purchases</h3>
                <img class="close" ng-click="ui.isShowNwInvest=false" src="../close01.png">
            </div>
        </div>
    </li>
    <!-- sub container end-->

</ul>