<style type="text/css">
    .earnings li .timeago {
        position: absolute;
        font-size: 12px;
        color: #777777;
        right: 0px;
        top: 16px;
    }
</style>
<div kex-widget>
    <div kex-tab="Earnings of KE People">
        <ul class="L-R-margin0 earnings" ng-controller="recntErnngsCtrlr">
            <li ng-if="ernngs.length==0;" class="rowtyp01 listEmptyMsg">
                No recent earnings are available
            </li>
            <li ng-repeat="earning in ernngs">
                <!-- earning post -->
                <div class="rowtyp01 earning">
                    <img class="propic-small" ng-src="{{earning.appIco}}"/>

                    <div class="timeago"><span timediff="earning.date"></span></div>
                    <div class="pad-rightTo-propic">
                        <div class="rowL2Typ01">{{earning.app}}</div>
                        <div class="rowL2Typ02">{{earning.detail}}</div>
                        <div ng-if="earning.count==1" class="rowL2Typ03"><a prfid="earning.user._id">{{earning.user.nickname}}</a> earned {{earning.amount}} K$</div>
                        <div ng-if="earning.count!=1" class="rowL2Typ03">{{earning.count}} people earned {{earning.amount}} K$</div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <!-- earning post end-->
            </li>
        </ul>
    </div>
</div>