<div ng-controller="newPrdCtrl" class="swidget" ng-class="{focusShadow01:ui.form}">
    <div class="L-R-margin0">
        <div>
            <div ng-show="ui.form" tab-head class="head-div">
                <h3 class="active">Add Product</h3>
            </div>
            <div ng-show="ui.form" class="rowtyp01" style="margin: 8px 0 11px 0;border-bottom: 1px solid #d8d8d8;">
                <table style="width: 100%;border-collapse: collapse;" border="0">
                    <tr>
                        <td style="width: 300px;">
                            <div class="input-row-gutter">
                                <input ng-model="newPrdct.name" placeholder="Product Name" type="text" style="width: 100%;"/>
                            </div>
                            <div class="input-row-gutter">
                                <textarea ng-model="newPrdct.detail" rows="4" placeholder="Product Description" style="width: 100%;"></textarea>
                            </div>
                            <div class="input-row-gutter">
                                <select ng-model="newPrdct.type">
                                    <option ng-repeat="prdType in ui.prdctTypes" value="{{prdType.value}}">{{prdType.name}}</option>
                                </select>
                            </div>
                            <div class="input-row-gutter">
                                <span class="input-lable">No of Items</span>
                                <input ng-model="newPrdct.qty" class="rightAlgn" type="number" min="1" value="1" style="max-width: 50px;"/>
                            </div>
                            <div class="input-row-gutter">
                                <span class="input-lable">Auction</span>
                                <input ng-model="newPrdct.isAuction" class="rightspc01" type="checkbox"/>
                                <span ng-if="newPrdct.isAuction">
                                    <span class="input-lable">Min Bid</span>
                                    <input ng-model="newPrdct.minBid" class="rightAlgn" type="text" placeholder="Min Bid" style="max-width: 80px;"/>
                                </span>
                            </div>
                            <div ng-if="!newPrdct.isAuction" class="input-row-gutter">
                                <span class="input-lable">Price per Item</span>
                                <input ng-model="newPrdct.price" class="rightAlgn" type="text" placeholder="Price K$" style="max-width: 80px;"/>
                            </div>
                            <div class="input-row-gutter">
                                <span class="input-lable">Expires</span>
                                <input ng-if="!newPrdct.isAuction" ng-model="newPrdct.isExpire" type="checkbox"/>
                                <input ng-if="newPrdct.isAuction || newPrdct.isExpire" ng-model="newPrdct.expire" type="date" style="color: #282828;" placeholder="Date"/>
                            </div>
                        </td>
                        <td style="vertical-align: top;display: block;">
                            <div style="padding-left: 15px;border-left: 1px solid #eaeaea;margin-left: 15px;min-height: 160px;">
                                <div img-uploader img-files="newPrdct.images"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="padding-bottom: 11px;">
                <div ng-show="!ui.form" style="text-align: left;">
                    <button ng-click="ui.form=true;" class="btnbg-red">Add New Item to Sell
                    </button>
                </div>
                <div ng-show="ui.form" style="text-align: right;">
                    <button ng-click="submitProduct()" class="btnbg-red">Add Item to Sell</button>
                    <button ng-click="ui.form=false;" class="btnbg-gray">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>