<style type="text/css">

    .productinf {
        padding: 22px;
        background-color: #282828;
        margin-top: -5px;
    }

    .productinf .uparrw {
        position: absolute;
        bottom: 100%;
        height: 0;
        width: 0;
        border-bottom: 10px solid #282828;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .productinf h3 {
        color: #d8d8d8;
        font-weight: normal;
        font-size: 16px;
        max-width: 90%;
    }

    .productinf .exp {
        color: #9a9a9a;
        margin: 3px 0;
    }

    .productinf .owner {
        color: #4b87d2;
    }

    .productinf .desc {
        color: #cccccc;
        margin: 6px 0;
        max-width: 90%;
    }

    .productinf .imgs {
        margin: 15px -3px -3px 0;
        line-height: 0;
    }

    .productinf .imgs img {
        max-height: 60px;
        margin: 0 3px 3px 0;
    }

    .productinf #closePrnt {
        position: relative;
        min-height: 20px;
    }

    .productinf .close {
        position: absolute;
        top: -8px;
        right: -4px;
        padding: 4px;
    }

    .productinf td {
        vertical-align: top;
    }

    .productinf table {
        border-collapse: collapse;
        width: 100%;
    }

    .productinf #maincol2 {
        width: 185px;
        padding-left: 15px;
    }

    .productinf #purchase {
        white-space: nowrap;
        text-align: right;
    }

    .productinf #purchase .confrm {
        margin-top: 8px;
        color: #9a9a9a;
    }

    .productinf .btnbg-gray {
        color: #9a9a9a;
    }

    .productinf #purchase button {
        background-color: #4b87d2;
    }

    .productinf #purchase #price {
        font-size: 16px;
        color: #cccccc;
        margin-right: 10px;
    }

    .productinf .bidhist .nwbid {
        border-color: #666666;
        padding-top: 0;
        border-top: none;
    }

    .productinf .bidhist li {
        border-color: #666666;
    }

    .productinf .bidhist .bidcol1 {
        color: #cccccc;
    }

    .productinf .bidhist .bidcol2 {
        color: #9a9a9a;
    }

    .productinf .bidhist .bidcol3 {
        color: #cccccc;
    }

    .productinf .bidhist .loadmr {
        border-color: #666666;
        padding-bottom: 0;
    }

    .productinf .bidhist ul::-webkit-scrollbar {
        width: 9px;
    }

    .productinf .bidhist ul::-webkit-scrollbar-track {
        background-color: #282828;
        border-left: 1px solid #666666;
    }

    .productinf .bidhist ul::-webkit-scrollbar-thumb {
        background-color: #9a9a9a;
    }

    .productinf .bidhist ul::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }

</style>

<div class="productinf" style="">
    <!-- arrow up -->
    <div pinfarrow class="uparrw"></div>
    <!-- arrow up end -->

    <table>
        <tr>
            <td>
                <!-- prd detailes -->
                <h3>{{product.title}}</h3>

                <p class="exp">Expires in <span timediff="product.expire"></span></p>

                <p class="owner">From <a ng-href="/#/profile/{{product.owner._id}}">{{product.owner.nickname}}</a></p>

                <p class="desc">{{product.detail}}</p>
                <!-- prd detailes end-->

                <!-- images -->
                <div class="imgs">
                    <img ng-repeat="img in product.imgs" ng-src="{{'/productpics/'+img}}"/>
                </div>
                <!-- images end -->
            </td>
            <td id="maincol2">
                <div>
                    <!--close button -->
                    <div id="closePrnt">
                        <img class="close" ng-click="remove();" src="close01.png"/>
                    </div>
                    <!--close button end-->

                    <!--purchase-->
                    <div ng-if="!product.isAuction"id="purchase">
                        <div ng-if="!ui.purchConf" >
                            <span id="price">Price: {{product.price.toLocaleString()}} K$</span>
                            <button ng-click="ui.purchConf=true;">Purchase</button>
                        </div>
                        <!-- confirm Purchase -->
                        <div ng-if="ui.purchConf" class="confrm">
                            <span>Are you sure?</span>
                            <a ng-click="product.purchase()" class="link-btn btnbg-blue">Purchase</a>
                            <a ng-click="ui.purchConf=false;" class="link-btn btnbg-gray">Cancel</a>
                        </div>
                        <!-- confirm Purchase end -->
                    </div>
                    <!--purchase end-->

                    <!-- bids list -->
                    <div ng-if="product.isAuction" ng-include="'widgets/bidsHistory.html'"></div>
                    <!-- bids list end -->
                </div>
            </td>
        </tr>
    </table>
</div>