
<div class="productinf" style="">
    <!-- arrow up -->
    <div pinfarrow class="uparrw"></div>
    <!-- arrow up end -->

    <table>
        <tr>
            <td>
                <!-- prd detailes -->
                <h3>{{product.title}}</h3>
                <p class="exp">Expires in <span timediff="product.expire"></span></p>
                <p class="owner">From <a prfid="product.owner._id">{{product.owner.nickname}}</a></p>
                <p class="desc">{{product.detail}}</p>
                <!-- prd detailes end-->

                <!-- images -->
                <div class="imgs">
                    <img ng-repeat="img in product.imgs" ng-src="{{'/productpics/'+img}}"/>
                </div>
                <!-- images end -->
            </td>
            <td id="maincol2">
                <div>
                    <!--close button -->
                    <div id="closePrnt">
                        <img class="close" ng-click="remove();" src="/img/close01.png"/>
                    </div>
                    <!--close button end-->

                    <!--purchase-->
                    <div ng-if="!product.isAuction"id="purchase">
                        <div ng-if="!product.ui.purchConf" >
                            <span id="price">Price: {{product.price.toLocaleString()}} K$</span>
                            <button ng-click="product.showPurchConf()">Purchase</button>
                        </div>
                        <!-- confirm Purchase -->
                        <div ng-if="product.ui.purchConf" class="confrm">
                            <span>Are you sure?</span>
                            <a ng-click="product.purchase()" class="link-btn btnbg-blue">Purchase</a>
                            <a ng-click="product.hidePurchConf()" class="link-btn btnbg-gray">Cancel</a>
                        </div>
                        <!-- confirm Purchase end -->
                    </div>
                    <!--purchase end-->

                    <!-- bids list -->
                    <div ng-if="product.isAuction" bidhistory="product"></div>
                    <!-- bids list end -->
                </div>
            </td>
        </tr>
    </table>
</div>