<ul ng-controller="mybidsctrl" class="L-R-margin0">
    <li ng-repeat="product in products">
        <!-- My bid -->
        <div class="rowtyp01">
            <img class="propic-small" ng-src="{{product.prdCover}}"/>

            <div class="place-circle">
                <span>{{product.bidRank}}</span>
            </div>

            <div ng-init="ui.showbids=false;" class="pad-rightTo-propic">
                <div class="rowL2Typ01">{{product.title}}</div>
                <div class="rowL2Typ02">Expires in <span timediff="product.expire"></span></div>
                <div class="rowL2Typ03">
                    <span>Current price {{product.price.toLocaleString()}} K$</span>

                    <div style="display: inline-block;float:right;">
                        <a ng-show="!ui.showbids" ng-click="ui.showbids=true;" class="link-btn btnbg-blue">Place Bid</a>
                        <a ng-show="ui.showbids" ng-click="ui.showbids=false;" class="link-btn btnbg-gray">Cancel</a>
                    </div>
                </div>

                <!-- bids list -->
                <div ng-show="ui.showbids" style="margin-top: 12px;" ng-include="'widgets/bidsHistory.html'"></div>
                <!-- bids list end -->
            </div>
            <div style="clear: both;"></div>
        </div>
        <!-- My bid -->
    </li>
</ul>